/* Navbar */

.header{
width:100vw;
height: 8vh;
position:fixed;
top:0rem;
left:0;
right:0;


}


.navbar{
    font-family: var(--navbar-font-family);
    font-weight:500;
    font-size: 18.5px;
    height: inherit;
    color:  var(--light-color);
    background-color: #FFFFFF;
    overscroll-behavior: none;
    overflow:hidden;
    border-bottom-color:  var(--light-color);
    border-bottom-width:1px;
    border-bottom-style: solid;
}


.navbar-list{
margin:0;
padding:0;
height: inherit;
display: flex;
justify-content: center;
align-items: center;
gap:4.5rem;
list-style-type: none;
}

.navbar-list > li > a, a:link, a:active, a:hover, a:visited {
text-decoration: none;
color:inherit;
}

.navbar-list > li:hover {
    color: var(--dark-color);
} 

.active {
  color: var(--dark-color);
}



/* .fade-in {
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    -moz-animation: fadeIn ease 8s;
    -o-animation: fadeIn ease 8s;
    -ms-animation: fadeIn ease 8s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animated-option {
    transition: 0.3s ease;
    border-top: 0px solid #111827; 
    border-bottom: 0px solid #111827;
    padding: 12px 0;
  }
  
  .animated-option:hover {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding: 6px 0;
  } 
   */

/* Footer */
.footer{
    background-color: var(--light-color);
    color:  var(--dark-color);
    height:10vh;
}

.footer-items-wrapper{
display:flex;
justify-content: center;
align-items: center;
gap:7rem;
width:100%;
height: inherit;

}

.icon {
    /* font-size:2.5vw; */
    color:var(--dark-color);
}

.icon:hover{
    transform: scale(1.2);
}