/* Navbar */

.header{
width:100vw;
height:10vh;
}


.navbar{
    height: inherit;
    position:fixed;
    top:0;
    left:0;
    right:0;
    color:  var(--light-color);
    background-color: var(--dark-color);
    overscroll-behavior: none;
    overflow:hidden;
}

.navbar-list{
margin:0;
padding:0;
height: inherit;
display: flex;
justify-content: center;
align-items: center;
gap:4.5rem;
list-style-type: none;
}

.navbar-list > li > a, a:link, a:active, a:hover, a:visited {
text-decoration: none;
color:inherit;
}

/* Footer */
.footer{
    background-color: var(--dark-color);
    color:  var(--light-color);
    height:14vh
}

.footer-items-wrapper{
display:flex;
justify-content: center;
align-items: center;
gap:7rem;
width:100%;
height: inherit;

}

.icon {
    font-size:2.5vw;
    color:white;
}

.icon:hover{
    transform: scale(1.2);
}