

/* More*/

#libros{
 background-color:#92807E;
 color: #000000;
 display:flex;
 justify-content: center;
 align-items: center;
 gap:5rem;
 height: 100vh;


}

.card{
    width:25%;
    height: 70vh;
    margin-right:2rem;
    border-radius: 0.5rem;
    background-color: #171717;
    color:#FFFFFF;
    box-shadow: 2px 1px 20px 10px rgba(0,0,0,0.4);
    border:none;
}

.card:hover{
    transform:scale(1.005);
}


.card-title{
font-size:1.7rem;
text-align: center;
padding:0.9rem 0rem;
border-bottom: #FFFFFF solid 0.1rem;

}

.card-content{
padding:1.2rem 2rem;
text-align: justify;
margin-bottom:0.5rem;
}

.card-image{
    max-width: 100%;
    height:auto;
    padding:1.4rem 2rem;
    margin:0.3rem 2rem;
}

.card-button{
    width:8rem;
    height: 3rem;
    display: block;
    margin: 0 auto;
    padding:0.5rem;
    border:solid #FFFFFF 0.1rem;
    border-radius: 0.3rem;
    background-color: #92807E;
    color:#000000;
    font-size:1rem;
    font-weight:bold;
    
}

.card-button:hover{
    background-color: #000000;
    color: #FFFFFF;

}

