/*typing effect del título*/

.typing-effect {
  width: 15ch;
  animation: typing 1.5s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
  font-size:4rem;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*animación del subtítulo*/
/* 
  .subtitle {
  
    font-size: 1.1rem;
    transform: subtitle(0.94); 
    animation: subtitle 0.9s  forwards cubic-bezier(0.5, 1, 0.89, 1);
    padding-right:1rem;
  }

  @keyframes subtitle {
    from {right: 0px;}
    to {left: 175px;}
  }
   */

/* fade-in effect del subtitulo */

.fade-in {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-option {
  transition: 0.3s ease;
  border-top: 0px solid #111827; /*zinc 900*/
  border-bottom: 0px solid #111827;
  padding: 12px 0;
}

.animated-option:hover {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 6px 0;
}
